.adminPage {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;

  .admin {
    &__body {
      display: flex;
      height: 100%;
      width: 100%;
      max-width: 1200px;
    }
    &__header {
      width: 100%;
      max-width: 1200px;

      // background-color: rgb(253, 235, 203);
      background-color: white;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);

      padding: 2rem 1rem;
      border-radius: 2rem;
      margin: 1rem;
      margin-bottom: 0.5rem;

      display: flex;
      justify-content: space-between;

      .header {
        // background-color: antiquewhite;
        &__left {
          display: flex;
          justify-content: center;
          width: 20%;

          &__logo {
            width: 13rem;
            height: "auto";

            &:hover {
              cursor: pointer;
            }
          }
        }

        &__right {
          max-width: 70%;
          display: flex;
          align-items: center;
          padding: 0 2rem;

          &__username {
            padding: 0.5rem 2rem;
            border-radius: 2rem;
            background-color: #f7f7f7;
            font-size: 2rem;
            color: black;
            letter-spacing: 1px;

            cursor: pointer;

            box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }

  .adminContent {
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
    flex: 1;

    .admin {
      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 1rem 0rem;
        padding: 2rem 3rem;

        background-color: rgb(255, 246, 231);
        border-radius: 1rem;

        .label {
          font-size: 1.6rem;
          margin-right: 1rem;
          letter-spacing: 1px;
          color: black;
        }
        .header {
          &__search {
            display: flex;
            width: 50%;
            align-items: center;

            &__input {
              flex: 1;
              font-size: 1.8rem;
              height: 4rem;
              border: none;
              border-radius: 1rem;

              box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
              padding: 1rem 2rem;
              outline: none;
            }
          }

          &__filter {
            display: flex;
            align-items: center;
            width: 50%;
            justify-content: flex-end;
            &__selection {
              min-width: 60%;
            }
          }
        }
      }

      &__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        // margin-top: 2rem;
        // background-color: whitesmoke;
        padding: 2rem 1rem;

        height: 60vh;

        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        .centered {
          justify-self: center;
          align-self: center;
          font-size: 2rem;
        }

        .userDataContainer {
          padding: 1rem 0.5rem;
          width: 100%;
          min-height: 110px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 2rem;
          background-color: white;
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);

          margin-bottom: 1.5rem;

          .left {
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__profile {
              width: 80px;
              border-radius: 2rem;
            }
          }

          .body {
            width: 40%;
            height: 100%;
            margin-left: 1rem;
            font-size: 1.5rem;
            color: var(--color-grey-dark-1);
            font-weight: 400;

            &__userId {
              margin-bottom: 5px;
            }
            &__name,
            &__email {
              font-size: 1.3rem;
              color: var(--color-grey-dark-2);
            }
          }

          .verification {
            width: 25%;
            height: 100%;
            margin-left: 1rem;
            // background: grey;
            font-size: 1.5rem;
            color: var(--color-grey-dark-1);
            font-weight: 400;

            &__idCard,
            &__photo,
            &__status {
              width: 60px;
              display: flex;
              justify-content: space-between;
              font-size: 1.3rem;
              color: var(--color-grey-dark-2);
            }

            &__status {
              width: 100%;
              font-weight: 600;
              justify-content: stretch;
              margin-top: 0.5rem;
            }
          }

          .buttonGroup {
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__btn {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.8rem;

              cursor: pointer;

              &:not(:last-child) {
                margin-right: 2.5rem;
              }

              &:visited,
              &:link {
                color: var(--color-grey-dark-2);
              }

              &:hover {
                color: var(--primary-yellow);
                transition: all 0.2s;
              }
            }
          }
        }

        .detailContainer {
          display: flex;
          flex-direction: column;
          flex: 1;
          border-radius: 2rem;
          background-color: var(--color-grey-light-1);
          // overflow: hidden;

          overflow-y: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          .user {
            &__header {
              position: relative;
              width: 100%;
              height: 150px;
              background-color: var(--color-grey-light-2);
              border-radius: 2rem;
              z-index: 10;

              &__profile {
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);
                width: 170px;
                height: 170px;
                border-radius: 85px;
                border: 5px solid white;
                object-fit: cover;
                overflow: hidden;
              }
            }

            &__body {
              display: flex;
              flex: 1;
              margin-top: 10px;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                display: none;
              }

              &__title {
                font-size: 2.5rem;
                font-style: italic;
                border-bottom: 2px solid var(--color-grey-light-3);
                margin: 1rem 0;
                margin-left: 0.5rem;
              }

              .auctionBox {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100px;
                width: 90%;
                border: 2px solid var(--color-grey-light-3);
                border-radius: 2rem;
                margin-bottom: 1rem;

                &__count {
                  font-size: 5rem;
                  color: var(--primary-yellow);

                  &--deactived {
                    color: var(--color-grey-light-4);
                  }
                }
              }
            }
          }

          .product {
            &__carousel {
              padding: 3rem 0;
              display: flex;
              height: 300px;
              background-color: var(--color-grey-light-2);
            }

            &__body {
              display: flex;
              flex: 1;
              padding: 2rem;
              background-color: var(--color-grey-light-1);
            }
          }
        }

        .productDataContainer {
          padding: 1rem 0rem;
          width: 100%;
          min-height: 110px;
          max-height: 120px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 2rem;
          background-color: white;
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);

          margin-bottom: 1.5rem;

          .left {
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;

            &__image {
              width: 90%;
              min-width: 80px;
              height: 95%;
              min-height: 80px;
              border-radius: 2rem;

              object-fit: cover;
            }
          }

          .body {
            min-width: 220px;
            height: 100%;
            margin-left: 1rem;
            font-size: 1.5rem;
            color: var(--color-grey-dark-1);
            font-weight: 400;

            &__productId {
              margin-bottom: 5px;
            }
            &__title,
            &__seller,
            &__category {
              font-size: 1.3rem;
              color: var(--color-grey-dark-2);

              &:link,
              &:visited {
                text-decoration: none;
              }
            }
          }

          .auction {
            min-width: 200px;
            width: 30%;
            height: 100%;
            margin-left: 1rem;
            // background: grey;
            font-size: 1.5rem;
            color: var(--color-grey-dark-1);
            font-weight: 400;

            &__title {
              width: 100%;
            }

            &__start,
            &__end,
            &__status {
              width: 100%;
              display: flex;
              // justify-content: space-between;
              font-size: 1.3rem;
              color: var(--color-grey-dark-2);
            }
          }

          .buttonGroup {
            min-width: 130px;
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__btn {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.8rem;

              cursor: pointer;

              &:not(:last-child) {
                margin-right: 2.5rem;
              }

              &:visited,
              &:link {
                color: var(--color-grey-dark-2);
              }

              &:hover {
                color: var(--primary-yellow);
                transition: all 0.2s;
              }
            }
          }
        }

        .reportTable {
          padding: 1rem 0;
          width: 100%;
          min-height: 110px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 2rem;
          background-color: white;
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);

          margin-bottom: 1.5rem;

          overflow-y: auto;

          &::-webkit-scrollbar {
            display: none;
          }

          &__header {
            display: flex;
            padding: 0 1rem;
            width: 100%;

            font-size: 1.6rem;
            color: var(--color-grey-light-4);
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--color-grey-light-3);

            &__list {
              width: 40%;
              padding: 0 1rem;
            }
            &__type {
              width: 100px;
              padding: 0 1rem;
            }
            &__status {
              width: 20%;
              padding: 0 1rem;
            }
            &__date {
              width: 100px;
              padding: 0 1rem;
            }
            &__button {
              flex: 1;
              padding: 0 1rem;
            }
          }

          .reportRow {
            width: 100%;
            display: flex;

            &:not(:last-child) {
              border-bottom: 1px solid var(--color-grey-light-3);
            }

            &__list {
              padding: 2rem 2rem;
              width: 40%;
              display: flex;
              align-items: center;

              &__image {
                flex: 0;
                width: 50px;
                height: 50px;
                border-radius: 10px;

                object-fit: cover;
                margin-right: 1.5rem;
              }

              &__detial {
                flex: 1;
                display: flex;
                flex-direction: column;
              }
            }

            &__type {
              padding: 2rem 1rem;
              width: 100px;
              display: flex;
              align-items: center;
            }
            &__status {
              padding: 2rem 1rem;
              width: 20%;
              display: flex;
              align-items: center;
            }
            &__date {
              padding: 2rem 1rem;
              width: 100px;
              display: flex;
              align-items: center;
              font-size: 1.5rem;
            }
            &__button {
              margin: 2rem 1rem;
              display: flex;
              flex: 1;
              align-items: center;
              justify-content: center;

              font-size: 1.5rem;
              color: var(--primary-yellow-dark-1);

              transition: all 0.2s ease-out;
              &:hover {
                cursor: pointer;
                transform: translateY(-2px);
              }

              &:active {
                transform: translateY(1px);
              }
            }
          }
        }

        .UserReportContainer {
          margin-top: 1.5rem;
          margin-bottom: 5rem;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;

          .RUser {
            &__card {
              position: relative;
              width: 280px;
              min-height: 370px;
              border-radius: 2rem;
              box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);
              padding: 0 1rem;
              padding-top: 170px;

              display: flex;
              flex-direction: column;
              align-items: center;

              background: white;

              &__image {
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 170px;
                height: 170px;
                border-radius: 85px;
                box-shadow: rgba(0, 0, 0, 0.12) 0rem 0.3125rem 0.625rem 0rem;

                object-fit: cover;
                overflow: hidden;
              }

              &__name {
                text-align: center;
                font-size: 1.8rem;
                color: var(--color-grey-dark-1);
                margin-bottom: 0.25rem;
              }

              &__username {
                text-align: center;
                font-size: 1.6rem;
                color: var(--color-grey-dark-2);
                margin-bottom: 1.5rem;
              }
            }

            &__info {
              display: flex;
              flex: 1;
              align-self: flex-start;
              flex-direction: column;
              margin-left: 2rem;

              padding: 2rem;

              border-radius: 2rem;
              box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);

              background: white;

              &__label {
                font-size: 2rem;
                color: var(--color-grey-dark-1);
                margin-bottom: 1.5rem;
              }

              margin-bottom: 2rem;
            }

            &__action {
              align-self: flex-start;

              transform: translateY(-70px);
              width: 280px;
              border-radius: 2rem;
              box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);
              padding: 2rem;

              display: flex;
              flex-direction: column;
              align-items: center;

              background-color: white;
            }
          }
        }

        .ProductReportContainer {
          margin-top: 1.5rem;
          margin-bottom: 5rem;
          display: flex;
          flex-wrap: wrap;
          .RProduct {
            &__card {
              position: relative;
              width: 280px;
              min-height: 370px;
              border-radius: 2rem;
              box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);
              padding: 0 1rem;
              padding-top: 170px;

              display: flex;
              flex-direction: column;

              background: white;

              &__image {
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 250px;
                height: 170px;
                border-radius: 1.5rem;
                box-shadow: rgba(0, 0, 0, 0.12) 0rem 0.3125rem 0.625rem 0rem;

                object-fit: cover;
              }

              &__title {
                text-align: center;
                font-size: 1.8rem;
                color: var(--color-grey-dark-1);
                margin-bottom: 0.25rem;
              }

              &__seller {
                text-align: center;
                font-size: 1.2rem;
                color: var(--color-grey-dark-3);
                margin-bottom: 1.5rem;
              }
            }

            &__info {
              display: flex;
              flex: 1;
              align-self: flex-start;
              flex-direction: column;
              margin-left: 2rem;

              padding: 2rem;

              border-radius: 2rem;
              box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);

              background: white;

              &__label {
                font-size: 2rem;
                color: var(--color-grey-dark-1);
                margin-bottom: 1.5rem;
              }

              margin-bottom: 2rem;
            }

            &__action {
              align-self: flex-start;

              transform: translateY(-70px);
              width: 280px;
              border-radius: 2rem;
              box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);
              padding: 2rem;

              display: flex;
              flex-direction: column;
              align-items: center;

              background-color: white;
            }
          }
        }
      }
    }
  }

  .sidebarContainer {
    width: 25%;
    min-width: 150px;
    max-width: 300px;
    background-color: white;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);

    border-radius: 2rem;
    padding: 2rem 1rem;
    margin-top: 1rem;
    margin-right: 1rem;

    .sidebar {
      &__item {
        padding: 2rem 2rem;
        font-size: 1.8rem;

        background-color: var(--primary-yellow-light-1);
        color: var(--primary-yellow-dark-1);
        margin: 0 0.5rem;
        margin-bottom: 1rem;
        border-radius: 1rem;

        display: flex;

        justify-content: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        cursor: pointer;

        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        transition: all 0.3s;

        &:hover {
          background-color: var(--primary-yellow);
          color: var(--color-grey-light-1);
        }

        &--actived {
          background-color: var(--primary-yellow);
          color: var(--color-grey-light-1);
        }
      }
    }
  }
}
