.container {
  background-color: white;
  border-radius: 20px;
  margin: 8rem auto;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);

  max-width: 120rem;
  min-width: 80rem;
  height: 85vh;
  min-height: 100rem;

  display: grid;
  grid-template-columns: [side-start] 20rem [side-end con-start] auto [con-end];
  grid-template-rows: [head-start] 10rem [head-end content-start] 1fr [content-end];

  &__header {
    grid-column: side-start / con-end;
    grid-row: head-start / head-end;
    display: grid;
    grid-template-columns: min-content 40% 1fr;
    grid-template-rows: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  &__sidebar {
    grid-row: head-end / foot-end;

    display: flex;
    flex-direction: column;
  }

  &__content {
    grid-column: con-start / con-end;
    grid-row: content-start / content-end;
    padding: 2rem;

    border-radius: 2rem;
    margin: 0 2rem 2rem 0rem;

    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
