.glabel {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-grey-dark-3);

  &--title {
    font-size: 2rem;
  }

  &--form {
    color: var(--color-grey-dark-1);
    margin-left: 0.5rem;
  }

  &--medium {
    font-size: 1.5rem;
  }
}
