.legal {
  color: var(--color-grey-light-4);
  font-size: 1rem;
  font-weight: 400;
  padding: 2rem;
  text-align: center;
  position: sticky;
  bottom: 0;

  a {
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    color: var(--color-grey-dark-3);
  }
}
