.reddot {
  font-size: 1rem;
  line-height: 1.6;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100px;
  background-color: rgb(245, 104, 104);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 0.5rem;

  &--dark {
    background-color: var(--color-grey-dark-2);
  }
}
