.sidebar {
  display: flex;
  // position: fixed;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  &-title {
    font-size: 3rem;
    font-weight: 300;
    align-self: center;
    text-align: center;
    width: 80%;
    margin-top: 2rem;
    font-style: italic;
    border-bottom: 1.5px solid var(--color-grey-dark-2);
    cursor: default;
  }

  &-nav {
    font-size: 1.4rem;
    font-weight: 400;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
      transition: background-color 0.5s;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &--active,
      &:hover {
        background-color: var(--color-grey-light-3);
      }
    }

    &__link:link,
    &__link:visited {
      color: var(--color-grey-dark-2);
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      padding: 1.5rem 2.5rem;

      display: flex;
      align-items: center;
    }

    &__icon {
      width: 2.75rem;
      height: 2.75rem;
      margin-right: 2rem;
    }
  }
}
