.user-login-dropdown {
  position: absolute;
  z-index: 500;
  top: 5.5rem;
  min-width: 20rem;
  background-color: white;
  transform: translateX(-42%);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 2rem rgba($color: #000000, $alpha: 0.15);
  overflow: hidden;

  backface-visibility: hidden;
}
