.user-dropdown {
  position: absolute;
  z-index: 500;
  top: 4.5rem;
  min-width: 15rem;
  background-color: white;
  transform: translateX(-85%);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 2rem rgba($color: #000000, $alpha: 0.15);
  overflow: hidden;

  &--profile {
    top: 4.8rem;
    transform: translateX(-12%);
  }

  &--items {
    top: 5.8rem;
    transform: translateX(-80%);

    min-width: 20rem;
  }

  &--auction {
    top: 4.8rem;
    transform: translateX(-90%);
    min-width: 40rem;
  }

  backface-visibility: hidden;

  &-item {
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    transition: background-color 0.2s;
    padding: 0.5rem;

    &--auction {
      height: 6.5rem;
      margin: 0.5rem 0;
    }

    .icon-button {
      line-height: 1;
      padding: 0 1rem;

      &--left {
        margin-right: 1rem;
      }

      &--right {
        margin-left: auto;
      }

      &--red {
        filter: invert(48%) sepia(44%) saturate(757%) hue-rotate(313deg)
          brightness(101%) contrast(92%);
      }

      &-profile {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;

        object-fit: cover;
      }

      &-img {
        font-size: 2.3rem;
      }
    }

    .auction {
      &__img {
        height: 5rem;
        width: 5rem;

        border-radius: 5px;

        object-fit: cover;
      }

      &__time {
        font-family: inherit;
        font-weight: 400;
        font-size: 1.6rem;

        &--red {
          color: salmon;
        }
      }
    }

    &:link,
    &:visited {
      font-family: inherit;
      font-size: 1.3rem;
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }
}
