$COLOR-BLACK: #191414;
$COLOR-DARKGRAY: #999999;
$COLOR-GRAY: #cbcbcb;
$COLOR-LIGHTGRAY: #eaeaea;
$COLOR-WHITE: #ffffff;
$COLOR-OFFWHITE: #f8f8f8;

$COLOR-DARKGREEN: #008f6b;
$COLOR-GREEN: #00d0aa;
$COLOR-LIGHTGREEN: #a9f6e3;
$COLOR-LIGHTGREEN2: #ddfff7;

$COLOR-DARKPINK: #b23955;
$COLOR-RED: #ff5959;
$COLOR-PINK: #ff527a;
$COLOR-LIGHTPINK: #ffebf0;
$COLOR-LIGHTPINK2: #fddee6;

$COLOR-ORANGE: #f2994a;
$COLOR-DARKYELLOW: #d29101;
$COLOR-YELLOW: #ffc648;
$COLOR-LIGHTYELLOW: #ffe7b2;
$COLOR-LIGHTYELLOW2: #ffefcc;

$COLOR-BLUE: #56ccf2;

$SHADOW-1: 0 1rem 2rem rgba(#000, 0.1);
$SHADOW-2: 0 1rem 2rem rgba(#000, 0.2);
