.credits-container {
  background-color: var(--color-grey-light-2);
  height: 100%;
  padding: 0 3rem 3rem 3rem;
  border-radius: 2rem;
  overflow-x: hidden;

  // display: grid;
  // grid-template-rows: minmax(45rem, 60rem) auto;
  // grid-template-columns: 1fr;
}

.credits {
  border-bottom: 1px solid var(--color-grey-light-3);
  background-color: var(--color-grey-light-1);
  min-height: 40rem;

  padding: 0 3rem;
  padding-bottom: 4rem;
  border-radius: 2rem;

  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .topup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 2rem;

    width: 80%;

    .topup {
      &__title {
        font-size: 2rem;
        font-style: italic;
      }

      &__select {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 1.5rem;

        margin: 1rem 0;

        font-size: 1.6rem;
        color: var(--color-grey-dark-1);

        &__box {
          margin-top: 2rem;
          padding: 1rem 1.5rem;
          box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.1);
          border-radius: 1rem;
          transition: all 0.25s;

          &--selected {
            background-color: var(--primary-yellow-dark-1);
            color: white;
          }

          &:hover {
            transform: translateY(-2px);
            cursor: pointer;
          }
        }
      }

      &__checkout {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      &__existCard {
        width: 80%;

        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);
        padding: 2rem;
        margin-top: 1.5rem;
        border-radius: 2rem;

        .existCard {
          display: flex;
          justify-content: space-between;

          font-size: 1.4rem;

          &__left {
            display: flex;
            flex-direction: column;

            &--line {
              display: flex;
              justify-content: space-around;
            }
          }

          &__btn {
            min-width: 10rem;
            font-family: inherit;
            padding: 1rem 1.5rem;
            cursor: pointer;
            background-color: var(--primary-yellow);
            border-radius: 1rem;
            border: none;
            font-size: 1.8;
            color: white;
            box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);
            transition: all 0.25s;
            &:hover {
              background-color: var(--primary-yellow-dark-1);
            }
          }
        }
      }
    }
    .pay-btn {
      flex: 1;
      min-width: 20rem;
      font-family: inherit;
      padding: 1rem 1.5rem;
      cursor: pointer;
      // background-color: var(--primary-yellow-dark-1);
      background-color: black;
      border-radius: 1rem;
      border: none;
      font-size: 1.8;
      color: white;
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);
    }
  }

  .withdraw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 2rem;

    width: 80%;

    .withdraw {
      &__title {
        font-size: 2rem;
        font-style: italic;
        margin-bottom: 2rem;
      }

      &__form {
        height: 4rem;
        font-family: inherit;
        display: flex;
        align-items: center;
        font-size: 2rem;
        border-radius: 1rem;
        padding: 1.5rem 0;
        padding-right: 1.5rem;
        background-color: var(--color-grey-light-3);
        border: 1px solid var(--color-grey-light-3);

        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);

        margin-bottom: 2rem;

        &__input {
          height: 4rem;
          font-family: inherit;
          color: inherit;
          font-size: 1.6rem;
          padding: 1.5rem 1.5rem;
          margin-right: 0.75rem;
          border-radius: 1rem;
          background-color: #fff;
          border: none;
          width: 100%;
          display: block;

          text-align: right;

          transition: all 0.2s ease-in;

          &::-webkit-input-placeholder {
            color: var(--color-grey-dark-3);
          }

          outline: none;
          overflow: hidden;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      &__bank {
        width: 80%;

        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);
        padding: 2rem;
        margin-top: 1.5rem;
        border-radius: 2rem;

        .existAccount {
          display: flex;
          justify-content: space-between;

          font-size: 1.4rem;

          &__left {
            display: flex;
            flex-wrap: wrap;
          }

          &__digits {
            letter-spacing: 3px;
            flex-basis: 100%;
          }

          &__brand,
          &__name {
            width: 50%;
          }

          &__btn {
            min-width: 10rem;
            font-family: inherit;
            padding: 1rem 1.5rem;
            cursor: pointer;
            background-color: var(--primary-yellow);
            border-radius: 1rem;
            border: none;
            font-size: 1.8;
            color: white;
            box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);
            transition: all 0.25s;
            &:hover {
              background-color: var(--primary-yellow-dark-1);
            }

            &--disabled {
              background-color: var(--color-grey-light-4);
              box-shadow: none;

              &:hover {
                background-color: var(--color-grey-light-4);
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
    .addAccount-btn {
      margin-top: 2rem;
      flex: 1;
      min-width: 15rem;
      font-family: inherit;
      padding: 1rem 1.5rem;
      cursor: pointer;
      // background-color: var(--primary-yellow-dark-1);
      background-color: black;
      border-radius: 1rem;
      border: none;
      font-size: 1.8;
      color: white;
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);
    }
  }

  &__title {
    width: 100%;
    margin-top: 2rem;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;

    padding: 1rem 5rem;

    border-bottom: 1px solid var(--color-grey-light-4);
  }

  &__balance {
    width: 80%;

    margin-top: 4rem;

    // padding: 0 10rem;

    background-color: var(--color-grey-light-1);
    border-radius: 2rem;
    font-size: 7rem;
    font-weight: 400;
    color: var(--color-grey-dark-1);
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);

    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__currency {
    font-size: 1.6rem;
    color: var(--color-grey-light-4);
    transform: translateY(-1rem);
  }

  &__btn-group {
    margin-top: 5rem;
    display: flex;
    justify-content: center;

    column-gap: 3rem;
  }

  &__btn {
    font-family: inherit;

    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;

    font-size: 1.8rem;
    font-weight: 400;

    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);

    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.15);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: 0.2);
    }

    &--topup {
      background-color: var(--primary-yellow-dark-1);
      color: var(--color-grey-light-1);
    }

    &--withdraw {
      background-color: var(--color-grey-dark-1);
      color: var(--color-grey-light-1);
    }
  }
}

.history {
  border-bottom: 1px solid var(--color-grey-light-3);
  background-color: var(--color-grey-light-1);

  padding: 0 3rem;
  border-radius: 2rem;

  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: 100%;

    margin-top: 3rem;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;

    padding: 1rem 5rem;

    border-bottom: 1px solid var(--color-grey-light-4);
  }

  &__lists {
    width: 100%;
    height: 50rem;
    padding: 3rem;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .trans-btn {
    margin: 2rem 0;
    flex: 1;
    min-width: 20rem;
    font-family: inherit;
    padding: 1rem 1.5rem;
    cursor: pointer;
    // background-color: var(--primary-yellow-dark-1);
    background-color: black;
    border-radius: 1rem;
    border: none;
    font-size: 1.8;
    color: white;
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);
  }
}

.addAccount-container {
  height: 50rem;
  width: 50rem;
  background-color: var(--color-grey-light-1);
  border-radius: 2rem;
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .addAcc {
    &__title {
      width: 100%;
      text-align: center;
      font-size: 3rem;
      font-style: italic;

      padding-bottom: 1rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid var(--color-grey-light-4);
    }

    &__select-box {
      width: 80%;
      margin-bottom: 1rem;
    }

    &__form {
      width: 80%;

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &__input {
      height: 4rem;
      font-family: inherit;
      color: inherit;
      font-size: 1.6rem;
      padding: 1.5rem 2rem;
      border-radius: 1rem;
      background-color: #fff;
      border: none;
      display: block;
      width: 100%;

      outline: none;
      margin-bottom: 2.5rem;

      transition: all 0.2s ease-in;
      box-shadow: 0 0rem 1rem rgba($color: #000000, $alpha: 0.1);

      &::-webkit-input-placeholder {
        color: var(--color-grey-dark-3);
      }
    }

    &__btn-group {
      margin-top: 4rem;
      display: flex;
      justify-content: center;
      column-gap: 1rem;
    }

    &__btn {
      font-family: inherit;

      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;

      font-size: 1.8rem;
      font-weight: 400;

      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);

      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.15);
      }

      &:active {
        transform: translateY(1px);
        box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: 0.2);
      }

      &--save {
        background-color: var(--primary-yellow-dark-1);
        color: var(--color-grey-light-1);
      }

      &--cancel {
        background-color: var(--color-grey-dark-1);
        color: var(--color-grey-light-1);
      }
    }
  }
}
