.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 35rem auto;
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;

  &__hero {
    grid-column: 1 / -1;
    background-color: var(--color-grey-light-2);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }

  margin-bottom: 3rem;
}
