.register {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    &-box {
      width: 15rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5rem;
    }

    &-img {
      width: 100%;
    }

    &-text {
      transform: translateX(5px);
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: var(--color-grey-dark-3);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;

    &--text {
      font-size: 1.3rem;
      font-weight: 400;

      margin-left: 0.5rem;
      //   margin-top: 0.7rem;
      display: block;
      transition: all 0.5s;
    }

    &-input {
      font-family: inherit;
      color: inherit;
      font-size: 2rem;
      padding: 0.5rem 0.5rem;
      border-radius: 2px;
      background-color: rgba(var(--color-grey-light-2), 0.3);
      border: none;
      border-bottom: 3px solid var(--color-grey-dark-3);
      width: 100%;
      display: block;

      margin-bottom: 1.7rem;

      transition: all 0.2s ease-in;

      &:focus {
        outline: none;
        // box-shadow: 0 1rem 2rem rgba(#000, 0.1);
        border-bottom: 3px solid var(--primary-yellow);
      }

      &:focus:invalid {
        border-bottom: 3px solid salmon;
      }

      &::-webkit-input-placeholder {
        color: var(--color-grey-dark-3);
      }
    }

    &--twocol {
      display: flex;
      column-gap: 1.5rem;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__btn {
    color: inherit;
    margin-top: 4rem;
    align-self: center;
    width: 60%;
    padding: 2rem 1.5rem;
    border: none;
    border-radius: 30px;
    background-color: var(--primary-yellow);
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      font-size: 1.3rem;
    }
    &:hover {
      transform: translateY(-1px);
      text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    }

    &--forgot {
      text-align: end;
      margin-top: -2.5rem;
    }
    &--sign {
      &:link,
      &:visited {
        font-weight: 600;
        font-size: 1.5rem;
      }
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  &__term {
    display: flex;
    align-items: center;
    &-checkbox {
      margin-left: 0.25rem;
      color: inherit;
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 1rem;
    }
    &-text {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  &__footer {
    margin-top: 2rem;
    display: flex;
    font-size: 1.5rem;
    align-self: center;
  }
}
