.single-item {
  min-height: 100%;
  //   background-color: var(--color-grey-light-2);
  //   background-color: red;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  display: flex;
  flex-direction: column;

  .section__img {
    width: 100%;
    height: 55rem;
    background-color: var(--color-grey-light-2);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    .item__img {
      height: 65%;
      border-radius: 3px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

      transition: all 0.5s ease-in-out;

      margin-bottom: 3rem;
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
      }
    }
  }

  .floatbox {
    margin: 0 3rem;
    display: flex;

    z-index: 100;
    transform: translateY(-3rem);
    align-items: center;

    &--title {
      display: inline-block;
      font-size: 3rem;
      font-weight: 400;
      color: var(--color-grey-dark-1);
      background-color: white;
      border-radius: 20px;
      padding: 0.5rem 2rem;
      text-align: center;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);

      margin-right: 2rem;

      cursor: default;
    }
    &--seller {
      height: 4rem;
      line-height: 1.2;
      display: flex;
      align-items: center;
      font-size: 3rem;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
      padding: 1.8rem 2rem;
      background-color: var(--color-grey-light-1);
      border-radius: 20px;

      &--link {
        &:link,
        &:visited {
          font-size: 2.5rem;

          background-clip: text;
          color: transparent;
          text-overflow: ellipsis;

          background-image: linear-gradient(
            110.78deg,
            rgb(118, 230, 80) -1.13%,
            rgb(249, 214, 73) 15.22%,
            rgb(240, 142, 53) 32.09%,
            rgb(236, 81, 87) 48.96%,
            rgb(255, 24, 189) 67.94%,
            rgb(26, 75, 255) 85.34%,
            rgb(98, 216, 249) 99.57%
          );
        }
      }
    }

    &--popup {
      margin-left: auto;
      // height: 4rem;
      // line-height: 0;
      // display: flex;
      // align-items: center;
      // box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
      // padding: 0 2rem;
      // background-color: white;
      // border-radius: 20px;

      cursor: pointer;
    }
  }

  .section__content {
    margin-top: -6rem;
    padding: 6rem 3rem;
    min-height: 61%;
    background-color: var(--color-grey-light-1);

    display: flex;

    .item__desc {
      width: 50%;
      padding: 0 3rem 0 1.5rem;

      &-label {
        font-size: 1.3rem;
        font-weight: 400;
        color: var(--color-grey-dark-3);
      }
      &-text,
      &-delivery {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 2rem;
      }

      &-delivery {
        &--com {
          text-transform: uppercase;
          margin-right: 1rem;
        }
      }

      &-services {
        text-transform: uppercases;
        margin-left: 2rem;
        font-size: 1.6rem;
      }
    }

    .item__auction {
      width: 50%;

      .item__bidding {
        background-color: var(--color-grey-light-1);
        border-radius: 2rem;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;

        padding: 2rem;
        margin-bottom: 1.5rem;

        &-bid {
          width: 40%;

          border-right: 1px solid var(--color-grey-light-4);

          &--price {
            color: var(--color-grey-dark-1);
            font-size: 3rem;
          }
        }

        &-time {
          padding-left: 2rem;
          width: 60%;

          display: flex;
          flex-direction: column;

          &-box {
            display: flex;
          }
          &--text {
            margin-right: 1rem;
            color: var(--color-grey-dark-1);
            font-size: 3rem;
          }
        }

        &-btn {
          height: 3rem;
          width: 100%;
          margin-top: 1rem;
          margin-bottom: 2rem;
        }
      }

      .item__activity {
        // background-color: var(--color-grey-light-2);
        // border-radius: 2rem;
        // box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

        margin-bottom: 1rem;
      }
    }
  }
}
